<div class="container">
    <div class="card" style="width: 18rem;">
        <!-- Need Image Source -->
        <img src="/images/greek-salmon-bowl.jpeg" class="card-img-top" style="height: 150px; width: 100%;" alt="..." />
        <div class="card-body bg-taupe">
            <!-- Need Title -->
            <div class="row align-items-center">
                <h5 class="card-title col-10">{{food_name}}</h5>
                <i class="far fa-heart fa-lg col-2 text-danger"></i>
                <!-- <i class="fas fa-heart fa-lg text-danger"></i> -->
            </div>
            <div class="row">
                <div class="col-6 text-center">
                    <!-- Need cook time -->
                    <p class="mb-0"><b>{{cook_time}}</b></p>
                    <p>Cook Time</p>
                </div>
                <!-- Need to grab # of Ingredients [Ingredients.length] -->
                <div class="col-6 text-center">
                    <p class="mb-0">{{ingredients.length}}</p>
                    <p>Ingredients</p>
                </div>
            </div>
            <div class="text-center">
                {{! Brnigs you to recipe ID }}
                <a href="/food/{{id}}" class="btn btn-warning">View Recipe</a>
            </div>
        </div>
    </div>