<div>
  <h1 class="text-center">{{food.food_name}}</h1>
  <div class="d-flex">
    <img src="/images/greek-salmon-bowl.jpeg" 
    class="mx-auto justify-content-center img-thumbnail "
    style="height: auto; width: 50%;">
  </div>

  <h2>Ingredients</h2>

  <ul class="list-group list-group-light">
    <li class="list-group-item px-3 border-0 rounded-3 list-group-item-info mb-2">{{food.ingredients}}</li>
  </ul>


<h2>Instructions</h2>
<ul class="list-group list-group-light"></ul>
  <li class="list-group-item px-3 border-0 rounded-3 list-group-item-warning mb-2">{{food.instructions}}</li>
</ul>


</div>
