<head>
  <meta charset="UTF-8">
  <title>Fresh Fuel</title>
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
      <h1>Fresh Foods</h1>
      <main>
        {{{ body }}}
      </main>
</body>

</html>