<div class="container mt-5">
  <div class="border p-8 w-50 mx-auto">
    <header class="mx-8 py-4 border-bottom">
      <h2 class="text-center">Start fueling <i>your</i> body the right way!</h2>
    </header>
    <section class="my-4 mx-8">
      <h3 class="h3 fw-bold mx-3 mb-4">Login</h3>
      <form class="loginForm">
        <div class="mb-3 mx-3">
          <label for="usernameLogin" class="form-label h5 mb-2">Username</label>
          <input
            type="text"
            id="usernameLogin"
            class="form-control py-1"
            name="username"
          />
        </div>
        <div class="mb-3 mx-3">
          <label for="passwordLogin" class="form-label h5 mb-2">Password</label>
          <input
            type="password"
            id="passwordLogin"
            class="form-control py-1"
            name="password"
          />
        </div>
        <div class="text-center">
          <button
            class="btn btn-success mt-4 w-50"
            type="submit"
          >Login!</button>
        </div>
      </form>
      <!-- Redirects User to Signup Page -->
      <a href="/signup" class="d-block text-center mt-1">Not a member? Sign up!</a>
    </section>
  </div>
</div>

<script src="/js/login.js"></script>

