:root {
  --peach: #fcdeaf;
  --light-peach: #fff2de;
  --almost-black: #161713;
  --burnt-orange: #e63f13;
  --tangerine: #ea9d42;
  --royal-blue: #2c2ed8;
  --taupe: #d1ae98;
  --grayish: #7d7f7a;
}

.bg-peach {
  background-color: var(--peach);
}

.bg-light-peach {
  background-color: var(--light-peach);
}

.bg-almost-black {
  background-color: var(--almost-black);
}

.bg-burnt-orange {
  background-color: var(--burnt-orange);
}

.bg-tangerine {
  background-color: var(--tangerine);
}

.bg-royal-blue {
  background-color: var(--royal-blue);
}

.bg-taupe {
  background-color: var(--taupe);
}

.bg-grayish {
  background-color: var(--grayish);
}

.charcoal-grey-7 {
  background-color: #aeb6bf;
  color: black;
}

.charcoal-grey-6 {
  background-color: #95a5a6;
  color: black; /* Adjusted for better contrast */
}

.playfair-display {
  font-family: "Playfair Display", serif;
}

.inter {
  font-family: "Inter", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

.playfair-display {
  font-family: "Playfair Display", serif;
}

.raleway {
  font-family: "Raleway", sans-serif;
}

.cormorant-garamond {
  font-family: "Cormorant Garamond", serif;
}

.futura-now {
  font-family: "Futura Now", sans-serif;
}

.gilroy {
  font-family: "Gilroy", sans-serif;
}

.avenir-next {
  font-family: "Avenir Next", sans-serif;
}

.tt-norms-pro {
  font-family: "TT Norms Pro", sans-serif;
}

.brandon-grotesque {
  font-family: "Brandon Grotesque", sans-serif;
}
